img{
    width:25%;
    height:25%;
}

.headliner{
    font-family: "Nunito";
    opacity:0.8;
}

#container{
    height:100%;
}

body > #container { height: auto; min-height: 100%; }

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 2em;
    margin-top: -2em;
    background: rgba(0, 0, 0, 0.6);
    font-family:"Nunito;
    color:white;
    padding-bottom:0;
    margin-bottom:0;

}

#content { padding-bottom: 2em; }

.footer{
    font-family:"Nunito";
    color:white;
    font-size:20px;
    margin-bottom:0;
    opacity:0.8;
    font-weight:normal!important;
}

#email{
    color:white;
}

#email:hover{
    color:black;
    background-color:white;
    border-radius:10px;
}

/*iphone 3gs,4*/
@media only screen and (max-width: 40em){
    .spacing-logo{
        margin-top:80px;
        width:50%;
        height:50%;
    }
    .headliner{
        padding-top:15px;
        font-size:20px;
    }

    .footer{
        font-size:14px;
    }
}

/*iPhone 5,6,6+*/
@media only screen and (max-width: 40em) and (min-height:31em){
    .spacing-logo{
        margin-top:80px;
        width:50%;
        height:50%;
    }
    .headliner{
        padding-top:30px;
        font-size:24px;
    }
}

/*iPhones dimensions change, 6 excluded*/
@media only screen and (min-height:16em) and (min-width:25em) and (max-height:25em)
{
    .spacing-logo{
        margin-top:30px;
        width:25%;
        height:25%;
    }
    .headliner{
        margin-top:20px;
        font-size: 20px;
    }
}

/*Medium devices (iPhone 6 dimension change), tablets*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .spacing-logo{
        margin-top:60px;
    }
    .headliner{
        padding-top:20px;
    }
    .footer{
    font-size:17px;
    }
}


/*"iPad like" tablets dimension change*/
@media only screen and (min-width: 40.063em) and (max-width: 50em) and (min-height:50em) and (max-height:66em)
{
    .spacing-logo{
        margin-top:170px;
        width:40%;
        height:40%;
    }
    .headliner{
        padding-top:20px;
    }
}

/*"Samsung Galaxy Tab like" tablets dimension change*/
@media only screen and (min-width: 35.063em) and (max-width: 51em) and (min-height:60em) and (max-height:80em)
{
    .spacing-logo{
        margin-top:170px;
        width:50%;
        height:50%;
    }
    .headliner{
        padding-top:40px;
        font-size:30px;
    }
    .footer{
        font-size:20px;
    }
    #footer{
        height: 2.6em;
        margin-top: -2.6em;
    }
    #content { padding-bottom: 2.6em; }
}

/*Firefox Normal Tablet*/
@media only screen and (min-width: 51.063em) and (max-width: 63.89em) and (min-height:37.5em) and (max-height:47em){
    .spacing-logo{
        margin-top:120px;
        width:30%;
        height:30%;
    }
}
/*Firefox tablet with ultrabig height*/
@media only screen and (min-width: 51.063em) and (max-width: 63.89em) and (min-height:47.063em){
    .spacing-logo{
        margin-top:160px;
        width:30%;
        height:30%;
    }
}

/*Normal pc*/
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .spacing-logo{
        margin-top:100px;
    }
}



/*XXLarge*/
@media only screen and (min-width: 90.063em) {

    .spacing-logo{
        margin-top:150px;
        width:30%;
        height:35%;
    }
    .headliner{
        padding-top:30px;
        font-size:30px;
    }
    .footer{
        font-size:20px;
    }
    #footer{
        height: 3em;
        margin-top: -3em;
    }
    #content { padding-bottom: 3em; }
}


/*Amazon Kindle XXL HD Dimension change*/
@media only screen and (min-width: 74.063em) and (min-height:99em){
    .spacing-logo{
        margin-top:300px;
        width:55%;
        height:55%;
    }
    .headliner{
        padding-top:60px;
        font-size:49px;
    }
    .footer{
        font-size:40px;
    }
    #footer{
        height: 4em;
        margin-top: -4em;
    }
    #content { padding-bottom: 4em; }
}