.profile-pic {
  width: 150px;
}

.inner-circle {
  width: 200px;
  height: 200px;
  padding-top: 25px;
  padding-left: 25px;
}

.outer-circle {
  margin-top: -45px;
  margin-bottom: -45px;
  border-radius: 50%;
  padding-top: 25px;
  padding-left: 25px;
  width: 250px;
  height: 250px;
}

.inner-circle-background {
  background: #EFC94C;
}

.outer-circle-background {
  background: #334D5C;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
