.closing {
  height: 20px;
  width: 100%;
  text-align: center;
}

.small {
  font-size: small;
}

.footer-background {
  background: #45B29D;
}

.footer-color {
  color: white;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
