@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }

  .info {
    display: table;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .info {
    margin-left: 2%;
  }
}

.pic-xs {
  margin-bottom: 50px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.name-title {
  margin-top: 5px;
}

.header-background {
  background: #45B29D;
}
