a {
  text-decoration: none;
}

.cv-body {
  margin-top: 45px;
}

.large {
  font-size: large;
}

.icon {
  width: 3ch;
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.text-content {
  margin-top: 15px;
  font-family: 'Cabin', sans-serif;
  text-align: justify;
}
