a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }

  .info {
    display: table;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .info {
    margin-left: 2%;
  }
}

.nowrap {
  white-space: nowrap;
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}

.cv-body {
  margin-top: 45px;
}

.pic-xs {
  margin-bottom: 50px;
}

.bitter {
  font-family: 'Bitter', serif;
}

.xx-large {
  font-size: xx-large;
}

.x-large {
  font-size: x-large;
}

.large {
  font-size: large;
}

.icon {
  width: 3ch;
  text-align: center;
}

.profile-pic {
  width: 150px;
}

.circle {
  border-radius: 50%;
}

.section {
  margin-top: 30px;
  display: flex;
}

.section-circle {
  width: 50px;
  height: 50px;
}

.text-content {
  margin-top: 15px;
  font-family: 'Cabin', sans-serif;
}

.section-label {
  width: 200px;
  height: 48px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: -25px;
  margin-top: 1px;
  padding-left: 33px;
  padding-top: 12px;
  z-index: -1;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.section-icon {
  margin-top: 11px;
  margin-left: 7px;
}

.name-title {
  margin-top: 5px;
}

.inner-circle {
  width: 200px;
  height: 200px;
  padding-top: 25px;
  padding-left: 25px;
}

.margin-right-10 {
  margin-right: 10%;
}

.outer-circle {
  margin-top: -45px;
  margin-bottom: -45px;
  border-radius: 50%;
  padding-top: 25px;
  padding-left: 25px;
  width: 250px;
  height: 250px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.closing {
  height: 20px;
  width: 100%;
  text-align: center;
}

.small {
  font-size: small;
}

.green-background {
  background: #45B29D;
}

.grey-background {
  background: #334D5C;
}

.yellow-background {
  background: #EFC94C;
}

.grey-color {
  color: #334D5C;
}

.yellow-color {
  color: #EFC94C;
}

.white-color {
  color: white;
}

.green-color {
  color: #45B29D;
}