.nowrap {
  white-space: nowrap;
}

.xx-large {
  font-size: xx-large;
}

.x-large {
  font-size: x-large;
}

.name-title-color {
  color: #334D5C;
}

.name-title-separator-color {
  color: #EFC94C;
}
