.section {
  margin-top: 30px;
  display: flex;
}

.section-circle {
  width: 50px;
  height: 50px;
}

.section-label {
  width: 200px;
  height: 48px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: -25px;
  margin-top: 1px;
  padding-left: 33px;
  padding-top: 12px;
  z-index: -1;
}

.section-icon {
  margin-top: 11px;
  margin-left: 5px;
}

.section-header-background {
  background: #45B29D;
}

.section-header-icon-background {
  background: #EFC94C;
}

.section-header-title-color {
  color: white;
}
